/*all*/
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin-bottom: 0;
}
/*section*/
#section-1 {
    padding-top: 90px;
}
/*typo*/
.link_free {
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}



.link_free:hover {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: black;
}

.card p, .card a {
    font-size: 20px;
}

/*button*/
.button_basic {
    background-color: black;
    border-radius: 0;
    text-transform: capitalize;
    color: white;
    border: 0;
    line-height: normal;
    font-size: 14px;
    padding: 5px 20px;
}

.button_basic.nav__special {
    color: black;
    background-color: transparent;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    font-size: 11px;
    font-weight: bold;
    padding: 0 5px;

}



/*header*/
.fix_ed {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo svg {
    width: 80px;
}

.nav_site,
.nav_log {
    display: inline-block;
}

.nav_site .link_free {
    margin-right: 25px;
}

.nav_log li:first-child {
    margin-left: 10px;
}

.logo, .nav_site, .nav_log{
    line-height: 50px;
}

.hero_img {
    width: 100%;
}

.mt-1 {
    margin-top: 30px;
}
.hammenu {
    display: inline-block;
    color: black;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 12px;
}
/*section-1*/
/*card*/
.card {
    background-color: #FAFAFA;
    padding: 96px 0 32px 0;
    margin-bottom: 20px;
}

.card__title {
    width: 200px;
}

.card p {
    margin: 32px 0;
}

.card__img {
    margin-top: 70px;
    height: 200px;
}

.card a {
    display: block;
}

.card a:hover {
    color: #337ab7;
}